<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.communicatieplatform">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CommunicatieplatformApp" >
        <activity android:name=".Homepage"
            android:exported="true"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".dagboek.Dagboek"
            android:screenOrientation="sensorPortrait"></activity>
        <activity android:name=".chat.Chat"
            android:screenOrientation="sensorPortrait"></activity>
        <activity android:name=".documenten.DocumentenToevoegenActivity"
            android:screenOrientation="sensorPortrait"></activity>
        <activity android:name=".documenten.DocumentActivity"
            android:screenOrientation="sensorPortrait"></activity>
        <activity android:name=".kalender.AfspraakMaken"
            android:screenOrientation="sensorPortrait"></activity>
        <activity android:name=".dagboek.ActZoeken"
            android:screenOrientation="sensorPortrait"></activity>
        <activity android:name=".kalender.AfspraakActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".dagboek.Activiteit"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".documenten.ViewPdfActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".test_chat.KiesContactActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".MessageActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".documenten.PleeggezinDocumenten"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".test_chat.test_MessageActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".dagboek.TrainerActZoeken"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".dagboek.TrainerDagboek"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".dagboek.TrainerDagboek_keuze"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".documenten.TrainerDocumenten_keuze"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".kalender.TrainerKalender_keuze"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".kalender.TrainerAfspraakActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".kalender.TrainerAfspraakMaken"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".TrainerHomepage"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".documenten.TrainerDocumentenToevoegenActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".documenten.TrainerDocumentenToevoegenActivitySpecifiek"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".documenten.TrainerDocumentActivity"
            android:screenOrientation="sensorPortrait"/>

        <activity
            android:name="com.communicatieplatform.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>
</manifest>